---
import Logo from "../assets/logo.svg";
import Strava from "../assets/strava.svg";
import Instagram from "../assets/instagram.svg";
import Tiktok from "../assets/tiktok.svg";
import Facebook from "../assets/facebook.svg";
---

<footer
    class="container space-y-10 pt-20 lg:grid lg:grid-cols-4 lg:gap-8 lg:space-y-0"
>
    <Logo />

    <nav
        class="px-5 columns-2 gap-8 space-y-8 text-sm lg:text-base lg:columns-3 lg:col-span-3 lg:px-0 *:break-inside-avoid *:space-y-3"
    >
        <div>
            <h4 class="uppercase">Progammation</h4>
            <ul class="text-gray-400">
                <li><a href="/film">Films</a></li>
                <li><a href="/activite">Activités</a></li>
                <li><a href="/invite">Invités</a></li>
            </ul>
        </div>
        <div>
            <h4 class="uppercase">Contacts</h4>
            <ul class="text-gray-400">
                <li><a href="/contact">Nous contacter</a></li>
                <li><a href="/contact">Laisser un avis</a></li>
            </ul>
        </div>

        <div>
            <h4 class="uppercase">Newsletter</h4>
            <ul class="text-gray-400">
                <li><a href="/newletter">Laisser son adresse mail</a></li>
                <li><a href="/newsletter">Rester informer</a></li>
            </ul>
        </div>
        <div>
            <h4 class="uppercase">Conditions de confidentialité</h4>
            <ul class="text-gray-400">
                <li><a href="/trust">Confiance et sécurité</a></li>
                <li><a href="/terms">Conditions d'utilisation</a></li>
                <li><a href="/privacy">Politique de confidentialité</a></li>
            </ul>
        </div>

        <div>
            <h4 class="uppercase">À propos</h4>
            <ul class="text-gray-400">
                <li><a href="/about">Compangnie</a></li>
                <li><a href="/about">Comment ça marche ?</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="space-y-3">
            <h4 class="uppercase">Ressources</h4>
            <ul class="text-gray-400">
                <li><a href="/ressource">Guides</a></li>
                <li><a href="/ressource">FAQ</a></li>
                <li><a href="/ressource">Help Center</a></li>
            </ul>
        </div>
    </nav>
    <div
        class="px-5 text-gray-400 border-t border-gray-300 py-8 space-y-6 text-center lg:col-span-4 lg:flex lg:justify-around lg:items-center lg:space-y-0"
    >
        <p>©2024 çavatrail'er. All rights reserved</p>
        <ul class="flex gap-12 justify-center">
            <li>
                <a href="https://facebook.com" aria-label="Facebook"
                    ><Facebook /></a
                >
            </li>
            <li>
                <a href="https://instagram.com" aria-label="Instagram"
                    ><Instagram /></a
                >
            </li>
            <li>
                <a href="https://www.strava.com" aria-label="Twitter"
                    ><Strava /></a
                >
            </li>
            <li>
                <a href="https://www.tiktok.com" aria-label="Linkedin"
                    ><Tiktok /></a
                >
            </li>
        </ul>
    </div>
</footer>
