---
import Header from "../components/Header.astro";
import "../styles/global.css"
const { titre } = Astro.props;
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{titre}</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body class="bg-gray-100 text-gray-900">
		<Header />
		<main class="p-6">
			<slot />
		</main>
	</body>
</html>
